<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="website_11.css">
</head>
<body>
	<div id="container">
		<div id="pageheader">
			<h1>Your Home Page</h1>
		</div>
		<div id="navbar">
			<ul>
				<li><a href="">Home  |</a></li>
				<li><a href="">About | </a></li>
				<li><a href="">Contact Us | </a></li>
				<li><a href="">News |</a></li>
				<li><a href="">Links </a></li>
			</ul>
		</div>
		<div id="supportingText">
			<div id="explanation">
				<h3><span>What is Lorem Ispum ? </span></h3>
				<p class="p0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><br><br></p>
				<h3><span>Why do we use ?</span></h3>
				<p class="p0">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.Lorem Ipsum is simply dummy text of the printing and typesetting industry.<br><br><br></p>

			</div>
			<div id="footer">
			<div id="inbox">
					Copyright © 2006 Your Company Name</div>
				</div> 
			</div>
		</div>
	</div>

</body>
</html>