<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="website_6.css">
</head>
<body>
	<div id="container">
		<div id="header">
			<ul>
						<li><a href="">Home</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">News</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Links</a></li>
					</ul>
			<h1>Lorem ispu</h1>

		</div>
		

		<div id="supportingText">

			<div id="insidecontent">

				<h3><span>Welcome to Autums'05</span></h3>
					<p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
						<ul>
							<li style="list-style: none;"><a href="">Read more</a></li>
						</ul></span></p>
					<h3><span>Welcome to Autums' 50</span></h3>
					<p class="p1">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.<ul><li>It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</li><li> It was popularised in the 1960s. the release of Letraset sheets containing </li><li>Lorem Ipsum passagesand more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</li>
						
							<li style="list-style:none"><a href="">Read more</a></li>
						</ul></span><br></p>
						<div id="footer">
							Copyright © 2005 All Resevered Rights
							<span style="float: right;">
								<ul>
									<li><a href="">Home</a></li>
									<li><a href="">About Us</a></li>
									<li><a href="">News</a></li>
									<li><a href="">Contact</a></li>
									<li><a href="">Links</a></li>
									
								</ul>
							</span>
							
							
						</div>


						</div><br><br><br>
						<div id="box">
							<div id="inbox">
								<b>Left column</b><br>
								This is left column items. You could put anything in here including images,text and links.
							</div>
							
						</div>
						<div id="innerbox">
							Useful links:
							<ul>
						<li><a href="">Home</a></li>
						<li><a href="">About Us</a></li>
						<li><a href="">News</a></li>
						<li><a href="">Contact</a></li>
						<li><a href="">Links</a></li>
					</ul>
						</div>


						
		</div>
	</div>

</body>
</html>