<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
	<link rel="stylesheet" type="text/css" href="website_14.css">
</head>
<body>
	<div id="container">
		<div id="pageheader">
			<h2>YOUR COMPANY NAME</h2>
			<p>"There is no one who pain itself,who seeks after it<br> and wants to have it, simply because it is pain... "</p>
		</div>
		<div id="content">
			<p class="p1">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged."</p>
		</div>
		<div id="explaination">
			
			<h3><span>What is Lorem Ipsum?</span></h3>
			<div id="img"></div>
			<div id="para"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p></div>

		</div>
		<div id="explaination2">
			
			<h3><span>What is Lorem Ipsum?</span></h3>
			
			<div id="para2"><p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
			</div></div>
			<div class="menu">
				<h2>MENU</h2>
			<ul>
				<li><a href="">HOME</a></li>
				<li><a href="">ABOUT US</a></li>
				<li><a href="">PRODUCTS</a></li>
				<li><a href="">SERVICE</a></li>
				<li><a href="">CONTACT</a></li>
			</ul>



		</div>
		<div class="links">
				<h2>LINKS</h2>
			<ul>
				<li><a href="">Lorem Ipsum</a></li>
				<li><a href="">Lorem Ipsum</a></li>
				<li><a href="">Lorem Ipsum</a></li>
				<li><a href="">Lorem Ipsum</a></li>
				
			</ul>
		</div>
		

			

	</div>

</body>
</html>